<!-- Modal Type -->

<div class="modal fade" id="modalType" tabindex="-1" aria-labelledby="modalType" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">โปรดเลือก</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="GET" action="/show">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">เลือก Type</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="type">
                            <option selected="Air Flow meter">Air Flow meter</option>
                            <option value="Ambulatory Blood Pressure Monitoring(บันทึกความดัน24 Hr)">Ambulatory Blood Pressure Monitoring(บันทึกความดัน24 Hr)</option>
                            <option value="Analog Blood Pressure (แบบเข็ม)">Analog Blood Pressure (แบบเข็ม)</option>
                            <option value="Ankle brachial index(เครื่องตรวจสมรรถภาพหลอดเลือดแดง)ABI">Ankle brachial index(เครื่องตรวจสมรรถภาพหลอดเลือดแดง)ABI</option>
                            <option value="Aspirators">Aspirators</option>
                            <option value="Bedside Monitor">Bedside Monitor</option>
                            <option value="Blood warmer(เครื่องอุ่นสารให้เลือด)">Blood warmer(เครื่องอุ่นสารให้เลือด)</option>
                            <option value="Centrifuge">Centrifuge</option>
                            <option value="cloth warmer(เครื่องอุ่นผ้า)">cloth warmer(เครื่องอุ่นผ้า)</option>
                            <option value="Digital Blood Pressure">Digital Blood Pressure</option>

                            <option value="Electrocardiograph">Electrocardiograph</option>
                            <option value="Electrosurgical Unit (ตัดจี้ด้วยไฟฟ้า)">Electrosurgical Unit (ตัดจี้ด้วยไฟฟ้า)</option>
                            <option value="Exercise Stress Test">Exercise Stress Test</option>
                            <option value="Fetal Doppler">Fetal Doppler</option>
                            <option value="Fetal Monitor(เครื่องฟังเสียงหัวใจเด็ก)">Fetal Monitor(เครื่องฟังเสียงหัวใจเด็ก)</option>
                            <option value="Forced air Warming Blankets">Forced air Warming Blankets</option>
                            <option value="Holter Recorder(บันทึกการเต้นของหัวใจ)">Holter Recorder(บันทึกการเต้นของหัวใจ)</option>
                            <option value="Hydrocollator(เครื่องต้มแผ่นให้ความร้อน)">Hydrocollator(เครื่องต้มแผ่นให้ความร้อน)</option>
                            <option value="Hypo / Hyperthermia">Hypo / Hyperthermia</option>
                            <option value="Infant Incubator(ตู้อบเด็กทารก)">Infant Incubator(ตู้อบเด็กทารก)</option>

                            <option value="Infant Vantilator">Infant Vantilator</option>
                            <option value="Infant Warmer (ช่วยเด็กแรกเกิด)">Infant Warmer (ช่วยเด็กแรกเกิด)</option>
                            <option value="Infrared Temp">Infrared Temp</option>
                            <option value="Interferential Therapy(รักษาด้วยคลื่นความถี่กระแสไฟฟ้า)">Interferential Therapy(รักษาด้วยคลื่นความถี่กระแสไฟฟ้า)</option>
                            <option value="Intermittent Suction Regulator">Intermittent Suction Regulator</option>
                            <option value="Knee Continuous Passive Motion(บริหารข้อเข่าแบบต่อเนื่อง)">Knee Continuous Passive Motion(บริหารข้อเข่าแบบต่อเนื่อง)</option>
                            <option value="Laser">Laser</option>
                            <option value="Microware Diathermy">Microware Diathermy</option>
                            <option value="Monitor CT">Monitor CT</option>
                            <option value="Monitor(MRI)">Monitor(MRI)</option>

                            <option value="Neopuff">Neopuff</option>
                            <option value="Oxygen Flow meter">Oxygen Flow meter</option>
                            <option value="PaceMaker (เครื่องกระตุ้นหัวใจ)">PaceMaker (เครื่องกระตุ้นหัวใจ)</option>
                            <option value="Pressure Cuff">Pressure Cuff</option>
                            <option value="Pulse Oximeter">Pulse Oximeter</option>
                            <option value="Radiant Warmer(ให้ความอบอุ่นเด็กด้วยแสง)">Radiant Warmer(ให้ความอบอุ่นเด็กด้วยแสง)</option>
                            <option value="Sphygmomanometer">Sphygmomanometer</option>
                            <option value="Spiro meter">Spiro meter</option>
                            <option value="Suction and Intermittent Suction Regulator">Suction and Intermittent Suction Regulator</option>
                            <option value="Suction Regulator">Suction Regulator</option>

                            <option value="Syring Driver">Syring Driver</option>
                            <option value="Syring Pump">Syring Pump</option>
                            <option value="Tens (ลดความเจ็บปวดเฉพาะจุดขนาดเล็ก)">Tens (ลดความเจ็บปวดเฉพาะจุดขนาดเล็ก)</option>
                            <option value="Thoracic Vacuum">Thoracic Vacuum</option>
                            <option value="Traction (ชุดดึงคอและหลังอัตโนมัติ)">Traction (ชุดดึงคอและหลังอัตโนมัติ)</option>
                            <option value="Treadmill(ลู่วิ่งไฟฟ้า)">Treadmill(ลู่วิ่งไฟฟ้า)</option>
                            <option value="Ultrasound(เครื่องรักษาด้วยคลื่นอัลตราซาวน์)">Ultrasound(เครื่องรักษาด้วยคลื่นอัลตราซาวน์)</option>
                            <option value="Vacuum Extractor (เครื่องช่วยคลอดโดยใช้แรงดูด)">Vacuum Extractor (เครื่องช่วยคลอดโดยใช้แรงดูด)</option>
                            <option value="Ventilator">Ventilator</option>
                            <option value="Vital Signs Monitor">Vital Signs Monitor</option>
                            
                            <option value="อ่างแช่พาราฟิน (Parafin Bath)">อ่างแช่พาราฟิน (Parafin Bath)</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary">ยืนยัน</button>
                </div>
            </form>
        </div>
    </div>
</div>